<html>

<head>
  <link rel="stylesheet" href="./style1.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title></title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Display Order</p>
    <form class="form1"  action = "/displayorderdata">
      <input class="un " type="text" align="center" placeholder="Enter order ID">
      <input class="pass" type="text" align="center" placeholder="Enter User's name">
      <input type="submit" class="submit" align="center">View Order</input>
               
    </div>
     
</body>

</html>
